/* Slider CSS */
#slide {
  background-image: linear-gradient(
      rgba(34, 38, 47, 0.384),
      rgba(34, 38, 47, 0.384)
    ),
    url(../../../assets/img/iStock-478952680-1.png);
  background-size: cover;
  padding-top: 90px;
  min-height: 400px;
  color: white;
  text-align: center;
}

#slide h3 {
  color: white;
  font-family: "BaskervilleTittles", "arial", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
}

.carousel-indicators li {
  height: 5px;
  width: 5px;
  background-color: rgb(20, 20, 20);
  border-radius: 50%;
  display: inline-block;
}

.carousel-indicators li:active {
  background-color: rgb(241, 241, 241);
}
