/*
* header CSS
*/

.navbar {
  background-color: rgba(0, 0, 0, 0.726);
  font-family: 'HelveticaNeuel', 'arial', sans-serif;
  letter-spacing: 4pt;
}

.navbar-brand img {
  padding-top: 0px;
  padding-bottom: 5px;
  height: 30px;
  margin-left: 30px;
}

.navbar .navbar-nav .nav-item .nav-link:link,
.navbar .navbar-nav .nav-item .nav-link:visited {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 10px;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:active {
  color: rgba(204, 200, 200, 0.705);
  margin-right: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.705);
  transition: ease-in-out color 0.15s;
}

.navbar .navbar-nav img {
  height: 14px;
}