.row {
  width: 100% !important;
  }

.text_space {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 38, 47);
  border: none;
  text-align: center;
  justify-content: center;
}

.text_space p {
    color: white; 
}


.image_space img{
  width: 100%;
}
