<div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 customingPadding">
      <div class="text_space">
        <h3>
          Live and Invest in Medellín.
        </h3>
        <p>
          <br>
          <br>
          _______
          <br>
          <br>
          Loftminimal is a customized, Medellin-located, real-estate agency specialized in investors as well as
          state-of-the-art residential properties.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 customingPadding">
      <div class="image_space">
        <img src="../../../assets/img/iStock-905942188.png">
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 customingPadding">
      <div class="image_space">
        <img src="../../../assets/img/Mask Group 1.png">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 customingPadding">
      <div class="text_space">
        <h3>
          Medellín is changing and growing. Fast.
        </h3>
        <p>
          Faster than many could ever expect, but at Loftminimal we are aware of this.
          <br>
          <br>
          _______
          <br>
          <br>
          That’s why we trust you with true professionals at the moment of buying or selling a property in one of major
          development centers of the Americas, because based under the principle of PEOPLE FIRST we know that your trust
          and confidence is key when your next investment is on the table.
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 customingPadding">
      <div class="text_space">
        <h3>
          Start experiencing life
        </h3>
        <br>
        <p>
          _____
        </p>

      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 customingPadding">
      <div class="image_space">
        <img src="../../../assets/img/iStock-499887682.png">
      </div>
    </div>
  </div>
</div>