/* content CSS */
.text_space {
  padding: 15% 5% 10% 10%;
  width: 100%;
  height: 100%;
  background-color: rgb(34, 38, 47);
  border: none;
  text-align: left;
  letter-spacing: 1px;
}

.text_space p {
  text-align: left;
  color: white;
  font-family: "HelveticaNeuel", "arial", sans-serif;
  line-height: 20pt;
  font-size: 10px;
}

.text_space h3 {
  color: white;
  font-family: "BaskervilleTittles", "arial", sans-serif;
}

.image_space img {
  width: 100%;
  padding: none;
}
